[2021-01-14 15:01] Jubeki opened #1 "[Feature Request] Failing mode for CI"
**Is your feature request related to a problem? Please describe.**
I'd like to run enlightn in the CI to check every time if there are problems occurring. Currently the CI passes even if there are problems.

**Describe the solution you'd like**
It would be nice if there is a flag (something like --fail) that the status code returned is not "okay" and the CI will fail this step.
Some Analyzers coul

[2021-01-14 15:24] paras-malhotra commented on #1
@Jubeki, if we have the exit status of the Enlightn command as 0 for success and 1 if any analyzer failed, would that solve the purpose?

For ignoring analyzers, you can use the `exclude_analyzers` (blacklist) and `analyzers` (whitelist) configuration options.

[2021-01-14 15:31] Jubeki commented on #1
I think this should work yeah

[2021-01-14 15:34] Jubeki commented on #1
Great work by the way 👍

[2021-01-14 15:34] paras-malhotra commented on #1
Great, thanks for the feature request! I'll work on this shortly.

[2021-01-15 08:54] rustik666 opened #2 "Checks are stop after the 6th check"
### Versions

* PHP version: 7.4.8
* Laravel version: 7.30.0
* Enlightn version: 1.0
* Enlightn Pro version (if applicable): n/a

### Description

During the run of the command `php artisan enlightn` we got the next result:

<img width="1642" alt="Screenshot 2021-01-15 at 09 48 48" src="https://user-images.githubusercontent.com/69072017/104703235-5d882580-5717-11eb-8dac-8fe16bfdd109.png">

We chec

[2021-01-15 09:38] paras-malhotra commented on #2
@rustik666, thanks for reporting this. I'm unable to reproduce this on a fresh Laravel 7 application. Steps below:

[code]

I'm also using PHP 7.4 so not sure what the issue is here? Can you try replicating the above steps?

Some other things that you can try:
- Try setting the `base_path` config variable to the folder path where your app code resides. [Documentation here](https://www.laravel-enli

[2021-01-15 14:42] rustik666 commented on #2
Hi @paras-malhotra !

Thank you very much for the response. I tried to change the config and comment the app path:

[code]
and after that I got 60 checks. But I'm not sure that in this way app files were correctly analysed.
Do you know any other options to troubleshoot this issue? Can I find the exact reason of execution interrupting?

Thank you!

[2021-01-15 14:48] paras-malhotra commented on #2
@rustik666 this may happen if your app folder has some PHP files that are syntactically incorrect (fatal errors if executed). You can identify the real issue and file by either noticing red lines in your IDE or iterating by only including certain paths like say `app_path('Http')` and checking to see if the error persists.

[2021-01-15 21:21] rustik666 commented on #2
@paras-malhotra thank you very much for the advice!

[2021-01-15 21:27] paras-malhotra commented on #2
Since this issue has been resolved, I'm closing it. Feel free to open a new issue if needed.

[2021-01-15 21:27] #2 closed

[2021-01-17 11:55] paras-malhotra opened #4 "Replace SensioLabs Security Checker - Service Ending Jan 2021"
The [SensioLabs security checker](https://github.com/sensiolabs/security-checker) is deprecated and the web service will stop running at the end of this month (Jan 2021) 😱.

We have a couple of options:

1. Use the [Local PHP Security Checker](https://github.com/fabpot/local-php-security-checker) which is ironically not in PHP. Usage of this can be an issue. It can't be pulled in by Composer. Perh

[2021-01-17 12:58] m1guelpf commented on #4
@paras-malhotra Why can't we bundle a compiled version of the Local PHP Security checker via symfony/process? It can output JSON.

[2021-01-17 13:03] paras-malhotra commented on #4
@m1guelpf not sure how we need to have this setup in Composer. The Local PHP Security Checker has separate binaries based on system architecture. If there's a way we can set this up in Composer to support all architectures, let's definitely do it!

[2021-01-18 23:39] paras-malhotra commented on #4
Went with option 2 because of AGPL license issues.

Released [here](https://github.com/enlightn/security-checker).

[2021-01-19 09:23] #1 closed

[2021-01-19 09:55] paras-malhotra commented on #1
@Jubeki this has been implemented now by @m1guelpf and will be available in the next release (today or tomorrow). 🚀

[2021-01-19 09:59] Jubeki commented on #1
Thanks for this feature! 🙂

[2021-01-19 10:51] m1guelpf commented on #4
Can this be closed now?

[2021-01-19 11:01] paras-malhotra commented on #4
I'll work on a PR to replace this in Enlightn.

[2021-01-25 08:01] ctf0 opened #13 "[Feature Request] add option to show all hidden lines"
**Is your feature request related to a problem? Please describe.**
its a bit frustrating when i cant see the hidden lines

**Describe the solution you'd like**
the max visible lines are 5 & so having away to get around that would be very helpful

**Describe alternatives you've considered**
`php artisan enlightn | more`, did nothing

**Additional context**
![Screen Shot 2021-01-25 at 9 57 41 AM](ht

[2021-01-25 08:05] paras-malhotra commented on #13
Hi @ctf0, thanks for posting the feature request. We'll consider it for the next release.

In the meantime, you can run individual analyzers using the arguments to display all the lines:

[code]

You can provide multiple arguments as well:

[code]

[2021-01-25 08:07] ctf0 commented on #13
i was going to actually ask to add the analyzer class names to the docs or somewhere instead of having to search the codebase, thanx for the quick reply.

[2021-01-25 08:54] paras-malhotra commented on #13
@ctf0 yes, that seems to be a nice suggestion. We'll make sure to add the class names to the docs 👍

[2021-01-26 06:46] #13 closed

[2021-01-26 11:21] paras-malhotra commented on #13
@ctf0 this is now available in v1.5. Also, the docs now include the class names 👍

[2021-01-26 11:26] ctf0 commented on #13
fockin awesome, many thanks

[2021-01-29 07:40] svikramjeet opened #21 "[Bug Report] Worng percentage"
### Versions

* PHP version: 7.4
* Laravel version: 8.25
* Enlightn version: 1.7
* Enlightn Pro version (if applicable):

### Description

+----------------+-------------+-------------+----------+---------------------+
| Status               | Performance | Reliability | Security |    Total |
+----------------+-------------+-------------+----------+--------------------+
| Passed             |    1

[2021-01-29 08:43] #21 closed

[2021-01-29 08:47] paras-malhotra commented on #21
Thanks for the bug report @svikramjeet, this is fixed in v1.7.1.

[2021-01-29 10:04] carlosfranco9 opened #23 "[Feature Request]Have you considered supporting laravel5.8?"

[2021-01-29 10:13] paras-malhotra commented on #23
Laravel 5.8 is already EOL. Even security fixes stopped last year. So, we aren't planning to support anything <6.0.

[2021-01-29 10:13] #23 closed

[2021-01-29 16:38] Orillian opened #24 "session()->has('value') Being seen as an invalid method call by Enlightn"
In some parts of my project I use a lot of session data, that means there is a lot of checks to session()->has() and session()->exists().

I started running Enlightn the other day and it was able to find some obscure edge cases and missing types, and overall I was impressed! Then further down the list I can across the Enlightn\Enlightn\Analyzers\Reliability\InvalidMethodCallAnalyzer and it had doz

[2021-01-29 16:40] beard7 opened #25 "Aggregation checker fails on Windows"
### Versions

* PHP version: 7.4.1
* Laravel version: 8.25.0
* Enlightn version: 1.7
* Enlightn Pro version (if applicable):

### Description
The Aggregation checker results in `Exception Unable to launch a new process.` when run on Windows IIS

### Steps to Reproduce
Run `php artisan enlightn` on a Windows IIS server

[2021-01-29 16:49] paras-malhotra commented on #25
@beard7 we don't support Windows for now. I'll make a note of this in the readme section.

[2021-01-29 16:49] #25 closed

[2021-01-29 17:01] paras-malhotra commented on #24
The reliability checks are not perfectly accurate given the limitations of static analysis. Some of the reliability checks use [PHPStan](https://github.com/phpstan/phpstan) in the background including the `InvalidMethodCallAnalyzer`.

I can explain to you why exactly this is happening:
1. PHPStan uses docblock and method signatures to understand what a method can return.
2. The `session` helper fu

[2021-01-29 17:01] #24 closed

[2021-01-29 17:45] Orillian commented on #24
@paras-malhotra Thanks for the run down! I knew it would be a easy answer!

It helped a lot.

You're not wrong, but it's still handy when it works! A lot of what I do would be a lot harder without them!

[2021-02-05 01:55] jasperf opened #33 "json_decode as objects fed to foreach loop [Bug Report]"
### Versions

* PHP version:7.4
* Laravel version:8.24.0
* Enlightn version: v1.9.0
* Enlightn Pro version (if applicable):

### Description

Been starting to use your tool and love it. Free version for now but if all goes well we will upgrade to Pro for additional tests of our Laravel Vue application

`json_decode` without associative array set as true followed by `foreach` is said to be non iter

[2021-02-05 06:21] paras-malhotra commented on #33
Hi @jasperf, glad you like it!

Can you please upgrade to v1.10.0 and run the `enlightn` Artisan command with the `--details` flag? Docs [here](https://www.laravel-enlightn.com/docs/getting-started/usage.html#view-detailed-error-messages). We introduced this yesterday to enable better understanding of error messages.

[2021-02-05 06:34] jasperf commented on #33
When I run all with latest and the `--details` flag I get

[code]

For the same code:

[code]

So I am getting more details @paras-malhotra . Still not quite sure what to make of it yet.

[2021-02-05 06:46] paras-malhotra commented on #33
@jasperf Enlightn uses PHPStan under the hood for this check.

PHPStan looks in the docs, function/method signatures, etc. to determine what type any variable is. It's not possible for PHPStan to determine what type `$item` is, so it considers it a mixed type. `json_decode` without the associative array flag set to `true` would result in an object. But PHPStan does not know whether the object is i

[2021-02-05 06:46] #33 closed

[2021-02-13 12:11] RobertCordes opened #40 "Some checks don't work in a multitenancy app"
### Versions

* PHP version: 7.4.12
* Laravel version: 8.25.0
* Enlightn version: 1.9.0 OSS

### Description
Hi, I'm trying to run Enlightn in a multitenancy setup. I'm using the [laravel-multitenancy package from Spatie](https://spatie.be/docs/laravel-multitenancy/v1/introduction). Some checks just don't seem to work with this kind of setup.

### Steps to Reproduce
Nothing special. Just set up a

[2021-02-13 12:56] paras-malhotra commented on #40
Hi @RobertCordes, after reading through the docs of the Multitenancy package, I reckon you may be calling app('currentTenant') in some of the config files or middleware. So, you may need to [set the current tenant](https://spatie.be/docs/laravel-multitenancy/v1/basic-usage/working-with-the-current-tenant#manually-setting-the-current-tenant) before Enlightn runs its checks, so that the config is se

[2021-02-13 17:49] RobertCordes commented on #40
Hey @paras-malhotra, thanks for the quick reply. This works perfectly! Can't wait for the PR 😅

[2021-02-13 23:11] diverpl opened #41 "[Bug Report] "View Caching Analyzer" incorrectly fails"
### Versions

* PHP version: 7.4.14
* Laravel version: 8.27.0
* Enlightn version: 1.13.0

### Description

This test counts blade files in _resources/views_ and compiled views in _storage/framework/views_. If the counts aren't equal the test fails. However there can be **more** compiled views than blade files - today I've found some compiled mail template components which were not compiled by `php

[2021-02-14 10:57] #41 closed

[2021-02-14 10:58] paras-malhotra commented on #41
Hi @diverpl, thanks for reporting this. This has been fixed and will be available in the next release.

[2021-02-14 13:27] #40 closed

[2021-02-16 02:30] jasperf opened #45 "WTFPL License[Bug Report]"
See https://github.com/hanneskod/classtools/issues/22#event-4333269047 . The license checked needs to be updated with the WTFPL License or _Do What the Fuck You Want to Public License_ which should be whitelisted as well.

[2021-02-16 06:15] #45 closed

[2021-02-16 06:16] paras-malhotra commented on #45
@jasperf, thanks for reporting this. This will be available in the next release. If you already have published your `config/enlightn.php` file, you may need to re-publish or modify the `license_whitelist` config option, since your config file overrides the default.

[2021-02-18 14:16] danielbrodin opened #47 "Check for Auth::user() inside jobs and other queueables"
**Is your feature request related to a problem? Please describe.**
Auth::user() can't be used inside queueables since there is no user then, but that doesn't stop from using it by accident. This is something that from my knowledge can't be found in tests either since they are run sync and have an auth user.

**Describe the solution you'd like**
A warning about using Auth::user / auth()->user() ins

[2021-02-18 14:46] paras-malhotra commented on #47
Hi @danielbrodin, thanks for posting the feature request. I'm not quite sure if this would be foolproof though. There may be custom auth guards configured in the app that authenticate via a different way, e.g. perhaps a token provided to the queued job is intended to authenticate the user (for say stateless apps).

Would love to hear some feedback from other folks on this, so leaving this open for

[2021-02-19 08:22] danielbrodin commented on #47
I have looked for a way to use the auth user inside a queued job, but haven't found any (except passing it when creating it of course). But that isn't to say that there is no way of course :)

[2021-02-20 19:46] potsky opened #48 "[Bug Report] Trustproxies is not correctly checked"
### Versions

* PHP version: 8.0.2
* Laravel version: 8.28.1
* Enlightn version: 1.15.0

### Description

I use Trusted Proxy on Heroku with the following configuration but Enlightn tells me :

[code]

Here is my `App\Http\Middleware\TrustProxies` class:

[code]

If you check the `Fideloper\Proxy\TrustProxies` class, setting the property `$proxies = '*'` changes everything even if there is no `tru

[2021-02-21 09:02] #48 closed

[2021-02-21 09:07] paras-malhotra commented on #48
@potsky, thanks for reporting this. This is fixed in v1.15.1.

[2021-02-21 09:52] potsky commented on #48
You rock @paras-malhotra!
Your package is really useful and awesome, I have just bought it ;-)

[2021-02-21 11:08] paras-malhotra commented on #48
@potsky glad you like it! 😊 Stay tuned, we've got some really [exciting features](https://twitter.com/Enlightn_app/status/1361963443645947908) coming up! Also, feel free to suggest any features that you'd like to see. Thanks!

[2021-02-22 07:08] potsky opened #50 "[Feature Request] Support REDIS_URL in RedisSingleServerAnalyzer check"
**Is your feature request related to a problem? Please describe.**

The `RedisSingleServerAnalyzer` test fails in production on Heroku because we use `REDIS_URL` env parameter instead of separated configuration parameters. `host`, `password` and `port` are set to default on our configuration and they could be safely deleted because `REDIS_URL` takes precedence on all others configuration parameter

[2021-02-22 09:29] #50 closed

[2021-02-22 09:32] paras-malhotra commented on #50
@potsky, thanks for reporting this. This is fixed in Enlightn Pro v1.10.1.

[2021-02-24 09:14] #47 closed

[2021-03-05 21:59] dionysiosarvanitis opened #54 "[Question] Trusted hosts without trusted proxies is useless?"
### Versions

* PHP version: 8
* Laravel version: 8
* Enlightn version: latest

### Description

Getting error "Your application contains global middleware that is not currently being used. [...] Your unused middleware include: [TrustHosts]".

Test assumes that you should not use `TrustHosts` without also using `TrustedProxy`. TrustHosts middleware calls the `Request::setTrustedHosts`.  By looking

[2021-03-05 22:25] paras-malhotra commented on #54
@dionysiosarvanitis, can you provide an example of why your application uses `TrustedHosts` without `TrustedProxies`? I'm assuming it's not behind a load balancer or reverse proxy.

The only way host injection would happen in such a scenario is if you have a wildcard server name configured on your web server?

[2021-03-05 22:44] paras-malhotra commented on #54
The way I see it, there are 2 possible ways for host injection to happen:

1. You have `TrustProxies` setup and the `X-Forwarded-Host` header is set to be "trusted" header. This is the primary risk because even if you have a secure web server setup (non-wildcard server name), host injection can still happen through the `X-Forwarded-Host` header if `TrustHosts` is not setup.
2. You don't have `Trus

[2021-03-06 06:53] paras-malhotra commented on #54
I'm closing this issue as it does not seem to be a bug. Rather, I've documented a warning in the docs to warn against setting up wildcard server names.

If you have any further questions, feel free to bump this thread.

[2021-03-06 07:12] dionysiosarvanitis commented on #54
Taken from the apache documentation:

"The first name-based vhost in the configuration file for a given IP:port pair is significant because it is used for all requests received on that address and port for which no other vhost for that IP:port pair has a matching ServerName or ServerAlias."

So the first vhost definition may get vulnerable in host spoofing.

[2021-03-06 07:26] paras-malhotra commented on #54
Ahh, I see. I am not familiar with Apache. I am reopening this issue to investigate this further. Thanks for reporting this @dionysiosarvanitis.

[2021-03-06 10:52] paras-malhotra commented on #54
This is now fixed and clarified in the docs https://github.com/enlightn/enlightn-docs/pull/18 with guidance on how to setup a secure web server (both Nginx and Apache). `TrustHosts` should still not be needed if `TrustProxies` is not used in the application.

[2021-03-06 10:52] #54 closed

[2021-03-06 13:52] dionysiosarvanitis commented on #54
In my case, where I've already set a catch all virtual host you're probably right when you say that is redundant. But you may consider others that don't have access to the server's configuration and uses code or `.htaccess` to secure their app.

Thanks a lot anyway! You've done really good job. I use your package in my Gitlab pipeline 👍

![pipelines](https://user-images.githubusercontent.com/13592

[2021-03-06 13:58] paras-malhotra commented on #54
Yes @dionysiosarvanitis, we've actually improved the `HostInjectionAnalyzer` thanks to you! 👍 Just released a new version of Enlightn Pro with the improvement. It now checks for both `Host` header injection and `X-Forwarded-Host`!

Wow, that's a cool pipeline! 😲

[2021-03-06 15:42] paras-malhotra commented on #54
Yeah, since this is a rare case, I made a note of this in the [unused middleware analyzer docs](https://www.laravel-enlightn.com/docs/performance/unused-global-middleware-analyzer.html) and kept the check as is.

[2021-03-19 15:21] hose1021 opened #59 "[Bug Report] Cookies are secured as HttpOnly failing"
### Versions

* PHP version: 8.0.3
* Laravel version: 8.33.1
* Enlightn version: 1.20.0 / 1.19.0
* Enlightn Pro version (if applicable):

### Description
Cookies are secured as HttpOnly failing bug config file is `true`

[2021-03-19 15:51] paras-malhotra commented on #59
Hi @hose1021, what is the output for `config('session.http_only')` in [Tinker](https://laravel.com/docs/8.x/artisan#tinker)?

[2021-03-19 16:07] hose1021 commented on #59
Is true.

I think it is my project error, sorry. `Call to undefined method Illuminate\Support\Facades\Auth::extend()`

[2021-03-19 16:07] #59 closed

[2021-05-05 14:50] myckhel opened #65 "[Feature Request]: use composer.lock file to check dependencies"
**Is your feature request related to a problem? Please describe.**
[code]

My laravel is up to date with v8.40.0 in `composer.lock` file.

**Describe the solution you'd like**
It would be better to use the `composer.lock` file "if exists" to check dependencies with known security issues.

[2021-05-05 14:53] myckhel commented on #65
sorry my bad.
i think my composer.lock had `8.38.0`

[2021-05-05 14:53] #65 closed

[2021-07-08 13:51] CiiDyR opened #67 "Cookie Domain Analyzer incompatible with sanctum"
### Versions

* PHP version: 8.0.2
* Laravel version: 8.49.2
* Enlightn version: 1.22.1
* Enlightn Pro version (if applicable): 1.16.0

### Description
Currently the Pro check for https://www.laravel-enlightn.com/docs/security/cookie-domain-analyzer.html fails when you set the `SESSION_DOMAIN` to something similar to `.domain.test`. The docs say this check is skipped if the application registers s

[2021-08-02 13:58] mwkcoding opened #68 "[Bug Report] Not supporting multiple licenses causes false-positive failure on LicenseAnalyzer"
### Versions

* PHP version: 7.4.16 & 8.0.8
* Laravel version: 8.52.0
* Enlightn version: 1.22.1
* Enlightn Pro version (if applicable):

### Description
For example, all Laravel projects using Jetstream will now be failing with Enlightn because a dependency package `nette/schema` has 3 licenses defined in `composer.json` and because TWO of them is not in the default license whitelist, this causes

[2021-08-21 22:11] dillingham opened #72 "[Feature Request] Horizon config validation"
There are a number of ways horizon can be misconfigured.
I pitched the idea to have a [horizon:validate](https://github.com/laravel/horizon/issues/1000) method to check all of @themsaid's tips for configuring
But the idea didn't get much momentum.
While [this PR](https://github.com/laravel/horizon/pull/988/files) does address an issue in runtime, it would be great to have it in code review.

I'm w

[2021-08-31 17:50] MarkVaughn opened #75 "[Feature Request] Support Lumen projects"
I would like to be able to use your tool with a lumen project

currently when requiring the enlight package, it adds laravel as a dependency.
It would be cool if the tool could recognize the context it is in, possibly skipping tests that are incompatible with lumen.
[code]

I understand that this might not be possible, but I didn't see any closed tickets about this, so i figured I might just ask.

[2021-09-03 19:13] striderwhitepderas opened #77 "[Feature Request] Mark lines as ignore with comment"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I have to modify the configuration to ignore a line.

**Describe the solution you'd like**
Instead, it would be useful to mark a line as ignore with a comment, similar to Eslint ignore. Example:

[code]

[2021-09-06 00:51] garygreen opened #78 "[Feature Request] Global PHP Listener Analyzer"
**Is your feature request related to a problem? Please describe.**
It's related to a potential vulnerability if you're globally listening to *.php files on your Nginx/Apache setup. This is how someone uses a gadget that has been uploaded to the site by allowing it to be forwarded onto Nginx to be parsed by PHP. That should never have been allowed, but if it does happen, setting up your web server

[2021-09-21 15:51] #72 closed

[2021-10-04 17:26] WillyReyno opened #79 "[Bug Report] Different results for same composer.json / composer.lock in local & CI"
### Versions

* PHP version: 8.0.10
* Laravel version: 8.62.0
* Enlightn version: 1.22.1

### Description

I am getting a weird issue with Enlightn giving me different results on local env & CI, while running the same code & command `php artisan enlightn --ci`.

I get an error in CI saying my dependencies are not stable (it would be nice to know which one), but I'm not getting the error when runni

[2021-10-25 16:35] drewbindon opened #80 "[Bug Report] Cannot call method startOfDay() on Carbon\Carbon|false."
### Versions

* PHP version: 7.4.24
* Laravel version: 6.20.31
* Enlightn version: 1.22.1
* Enlightn Pro version (if applicable): 1.16.0

### Description
When trying to run `startOf('day')` or `startOfDay()` method on Carbon\Carbon, Enlightn throws an `Enlightn\Enlightn\Analyzers\Reliability\InvalidMethodCallAnalyzer` error.

### Steps to Reproduce

**Expected behavior:**
Both these methods exist

[2021-11-04 08:11] dannewnsjump24 opened #87 "[Feature Request] upgrading Larastan and PHPStan"
Now that [PHPStan 1.0](https://phpstan.org/blog/phpstan-1-0-released) and [Larastan 1.0](https://github.com/nunomaduro/larastan/releases/tag/1.0.0) have been released it would be great to upgrade this excellent package to use these.

Thanks for all the hard work thats been put into enlightn by everyone envolved.

[2021-11-10 10:49] joekeilty-oub opened #89 "[Bug Report] False positive on Pro CompressionHeaderAnalyzer when libcurl doesn't have brotli support"
### Versions

* PHP version: 7.4.16
* Laravel version: 8.63.0
* Enlightn version: 1.22.1
* Enlightn Pro version (if applicable): 1.16.0

### Description

The Enlightn Pro CompressionHeaderAnalyzer produces a false positive when ran on systems where the version of libcurl has not been compiled with brotli support.

A Guzzle exception is thrown:

[code]

If `br` is removed from the headers passed in

[2021-11-20 23:15] morawcik commented on #87
Any chance to get it done in near future?

[2021-11-23 10:28] potsky commented on #87
Hi @paras-malhotra ! Indeed if there is no problem to switch for you, it could be really nice because PHPStan 0.7 is really a mess in last versions of Laravel...

[2021-11-26 18:18] usernotnull commented on #87
+1

[2021-11-27 10:40] paras-malhotra commented on #87
We will be updating the library for the Laravel 9 LTS release. That's when we'll consider the 1.0 major upgrades. Leaving this open so that it can be picked up for the Enlightn upgrade in January.

[2021-11-27 21:57] morawcik commented on #87
Really? I'm disappointed... Guess it's time to say good bye...

[2021-12-03 09:49] rgr opened #90 "Your application uses stable versions of dependencies. Exception"
### Versions
* PHP version: 8.1
* Laravel version: 8.12
* Enlightn Pro version : 1.16

### Description
For every enlightn use (local, staging or prod), I get an exception with the rule 123 :

[code]

### Steps to Reproduce

**Expected behavior:**
Not applicable or Passed

**Actual behavior:**
Exception

[2022-01-21 11:03] potsky opened #94 "[Bug Report] QueueTimeoutAnalyzer does not understand which queue is used on horizon"
### Versions

* PHP version: 8.0.*
* Laravel version: 5.8.0.0
* Enlightn version:
* Enlightn Pro version (if applicable): 1.16.0

### Description

I have just installed MailCoach from Spatie and I have this error when running enlightn:

[code]

So is a very good point, I have alerted Spatie about their default configuration https://github.com/spatie/laravel-mailcoach/discussions/853

But if I set

[2022-02-09 06:52] eminos opened #96 "[Feature Request] support Laravel 9"

[2022-02-12 10:21] denisdulici commented on #96
@paras-malhotra Any update on this?

[2022-02-17 22:29] drewbindon commented on #96
Had to turn off enlightn on our ci until support is merged

[2022-02-21 15:58] paras-malhotra commented on #68
Closed by #69

[2022-02-21 15:58] #68 closed

[2022-02-21 16:53] paras-malhotra commented on #67
This setting is only required for Sanctum if your SPA exists on a separate sub-domain. Also, if your SPA is not in the same project repo (mono-repo), only then will this analyzer error out. In that case, I'd recommend to add this to the `exclude_analyzers` [configuration](https://www.laravel-enlightn.com/docs/getting-started/configuration.html#excluding-analyzers-from-reporting).

[2022-02-21 16:53] #67 closed

[2022-02-21 16:55] paras-malhotra commented on #78
We're already checking exploit vectors that allow PHP file uploads in the [Arbitrary File Upload Analyzer](https://www.laravel-enlightn.com/docs/security/arbitrary-file-upload-analyzer.html) so I don't believe this check is required.

If you feel differently, feel free to re-open this and we can discuss it.

[2022-02-21 16:55] #78 closed

[2022-02-21 17:03] paras-malhotra commented on #94
Thanks for reporting this. I'll look into it and also welcome any PRs to fix this if anyone's interested.

[2022-02-21 17:06] paras-malhotra commented on #90
This means that your host/server running this is running out of memory. Here's a [reference](https://laracasts.com/discuss/channels/laravel/the-process-has-been-signaled-with-signal-9) to understand why this is happening.

[2022-02-21 17:06] #90 closed

[2022-02-21 17:10] paras-malhotra commented on #89
I believe it is best for you to install curl with brottli support. If we remove the br header, and say your web server has Brottli only supported, it will give a false negative instead. So, I don't believe we should remove `br` from the headers in this check.

If you think I've missed something, feel free to re-open and we can discuss it.

[2022-02-21 17:10] #89 closed

[2022-02-21 17:15] paras-malhotra commented on #80
This behaviour is expected because Carbon extends the PHP DateTime class and `createFromFormat` [can return `false`](https://www.php.net/manual/en/datetime.createfromformat.php).

Here's a [reference](https://stackoverflow.com/questions/69929433/why-do-i-get-error-when-try-to-convert-carbon-to-datetime) to help understand why PHPStan complains about this.

[2022-02-21 17:15] #80 closed

[2022-02-21 17:19] paras-malhotra commented on #79
I suspect that you're running in different environments and one of the environments is production. That means that this check will not error out if your dev dependencies aren't up to date but if the other environment is dev, it shows an error.

Hope this makes it clear. If you have any further questions, feel free to post them here.

[2022-02-21 17:19] #79 closed

[2022-02-21 17:20] paras-malhotra commented on #77
You can use `@phpstan-ignore-next-line`. Refer the docs [here](https://phpstan.org/user-guide/ignoring-errors).

[2022-02-21 17:20] #77 closed

[2022-02-21 17:21] paras-malhotra commented on #75
We have no plans to support Lumen at this time.

[2022-02-21 17:21] #75 closed

[2022-02-21 19:00] #87 closed

[2022-02-21 22:29] eliasjtg commented on #96
Any update?

[2022-02-22 00:31] paras-malhotra commented on #96
Closed via #100

[2022-02-22 00:31] #96 closed

[2022-03-08 11:12] pgnd opened #101 "[Bug Report] enlightn reports valid composer.json as invalid"
### Versions
[code]

### Description
enlightn scan reports invalid `composer.json`
[code]

but, composer reports VALID `composer.json`
[code]

[2022-03-11 15:04] fylzero opened #103 "[Bug Report] Can't install Enlightn on a project with Larastan"
### Versions

* PHP version:  8.1.3
* Laravel version:  9.4.1
* Enlightn version:  1.25.0
* Enlightn Pro version (if applicable):  N/A

### Description

Unable to install Enlightn on a project with Larastan installed.

### Steps to Reproduce

- Install a fresh copy of Laravel 9
- Install https://github.com/nunomaduro/larastan via composer require nunomaduro/larastan:^2.0 --dev
- Install https://gi

[2022-03-11 15:10] fylzero commented on #103
Found out that Enlightn doesn't support Larastan 2.0 yet.  I'll open a feature request for that instead.

https://github.com/nunomaduro/larastan/issues/1165

[2022-03-11 15:10] #103 closed

[2022-03-11 15:13] fylzero opened #104 "[Feature Request] Support Larastan v2"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Receiving errors when trying to install Enlightn on a project that has Larastan v2 installed.

As I was trying to figure this out I opened 2 issues that can be referenced here:
https://github.com/enlightn/enlightn/issues/103
https://github

[2022-03-29 16:08] rzkhrv opened #105 "[Bug Report] Failed to download"
[code]

Unable to install package. What's wrong?

[2022-03-30 11:58] paras-malhotra commented on #105
@rzkhrv based on the error message, the credentials are invalid. Please refer to the steps in the docs here: https://www.laravel-enlightn.com/docs/getting-started/installation.html#installing-enlightn-pro

[2022-03-30 11:58] #105 closed

[2022-04-06 21:35] denydias opened #106 "[Bug Report] UnusedGlobalMiddlewareAnalyzer outdated for L9"
### Versions

* PHP version: 8.1.4
* Laravel version: 9.7.0
* Enlightn version: 1.25
* Enlightn Pro version (if applicable): 1.16.0

### Description

UnusedGlobalMiddlewareAnalyzer reports this:

But the analyzer is looking for use `Fideloper\Proxy\TrustProxies`, which in Laravel 9 was [replaced](https://laravel.com/docs/9.x/upgrade#the-assert-deleted-method) by `Illuminate\Http\Middleware\TrustPr

[2022-04-07 02:40] denydias opened #107 "[Bug Report] Securing allow_url_fopen crashes Guzzle"
### Versions

* PHP version: 8.1.4
* Laravel version: 9.7.0
* Enlightn version: 1.25
* Enlightn Pro version (if applicable): 1.16.0

### Description

When setting `allow_url_fopen=Off` (or 0) as suggested by `Analyzers\Security\PHPIniAnalyzer`, Enlightn crashes with the following unhandled exception:

[code]

If leaving it enabled, then the analyzer states:

[code]

### Steps to Reproduce

1. Edit

[2022-04-07 08:42] denydias opened #108 "[Feature Request] Let XSSAnalyzer allow (only) style-src unsafe-inline"
**Is your feature request related to a problem? Please describe.**
Kinda. [Enlightn\Enlightn\Analyzers\Security\XSSAnalyzer documentation](https://www.laravel-enlightn.com/docs/security/xss-analyzer.html) mentions `default-src` and `script-src` specifically. As such, one may understand (like I did) that `unsafe-inline` could be accept in `style-src`, but it doesn't. The analyzer code forbids any `

[2022-04-07 10:29] paras-malhotra commented on #107
Hi @denydias, Enlightn uses Guzzle to fire HTTP requests to your application to check for security (e.g. headers, etc.). `allow_url_fopen` should not be enabled to minimize escalating LFIs/RFIs. You can read more about this [here](https://www.laravel-enlightn.com/docs/security/php-ini-analyzer.html).

Instead, to solve this you may install cURL on the node that is running Enlightn.

[2022-04-07 10:29] #107 closed

[2022-04-07 10:36] paras-malhotra commented on #108
Unsafe inline is not recommended even in style src. A very common attack vector is replacing the login button on the site with a vulnerable website link instead. Mike West did a talk called [Scriptless Attacks: Stealing the Pie Without Touching the Sill](https://mikewest.org/2013/09/xss-no-the-other-s-cssconfeu-2013/) on this (attack vectors that use style injection instead of script injection) in

[2022-04-07 10:36] #108 closed

[2022-04-07 10:41] paras-malhotra commented on #106
Thanks for reporting this, just confirmed that this is a bug. Will work on a fix soon.

[2022-04-07 10:42] paras-malhotra commented on #101
Closing for inactivity. Feel free to reopen.

[2022-04-07 10:42] #101 closed

[2022-04-07 18:48] denydias commented on #107
Thanks for replying. Actually cURL was already installed. What was missing was `php-curl` extension.

These requirements (cURL + php-curl extension) may get its way to documentation, as there's no mention there they are required.

[2022-04-07 18:50] denydias commented on #108
Thanks for replying. Yeah, know that you mention that attack surface, I regret asking this as a feature request. Just leave it as is for good.

[2022-04-07 18:51] denydias commented on #106
You're welcome. I'm looking forward for the fix. Thanks.

[2022-05-13 14:19] potsky opened #109 "How to install enlightnpro on Laravel 9 ?"
Hi @paras-malhotra,

it seems composer.json has not been updated for enlightnpro for Laravel 9 and for PHP 8.1:

[code]

[2022-05-13 15:10] #109 closed

[2022-05-16 12:35] potsky commented on #104
And given that Laravel 9 only supports Larastan v>2.0, I cannot use enlightnpro on Laravel 9 :-(

[2022-05-16 12:49] potsky commented on #104
@paras-malhotra any chance to support larastan v2 ?

[2022-05-16 15:43] dpash opened #110 "[Feature Request] Support PHP 8.1 features"
**Is your feature request related to a problem? Please describe.**
Enlightn doesn't support at least enums or intersection types. This causes problems with at least the undefined constants check and the invalid method call check.

**Describe the solution you'd like**
Upgrade the PHP parser to the most recent version, which does now support PHP 8.1

**Describe alternatives you've considered**
Ignor

[2022-05-21 17:11] coffee-abremer opened #112 "Pricing inconsistencies"
Hi, I don't know where to communicate this (I tried a Twitter DM with no response).

I wanted to purchase a solo license as it was advertised in my local currency at 938mxn (which translates to about 45usd). I proceeded to create my account and saw it was now advertised at 100usd instead in the account... I didn't think much of it (I'm a software dev and can imagine the public website having outda

[2022-05-23 13:21] bsaqqa opened #113 "[Bug Report]"
### Versions

* PHP version: 8.1.3
* Laravel version: 9.13
* Enlightn version: last (1.25.0)
* Enlightn Pro version (if applicable): last

### Description
When Installing the pro package on the last version Laravel application. we got an exception like below:

![image](https://user-images.githubusercontent.com/21352835/169828138-efce54f3-4e9f-4906-9ae5-c8eadfabe231.png)

### Steps to Reproduce

1-

[2022-05-31 22:26] paras-malhotra commented on #113
Laravel 9 is already supported. https://github.com/enlightn/enlightn/issues/113 is caused due to lack of Larastan v2 support and not the lack of Laravel 9 support. So, I'm closing this issue. We're tracking Larastan v2 support in https://github.com/enlightn/enlightn/issues/104

[2022-05-31 22:28] paras-malhotra commented on #112
Hey @coffee-abremer, please email support [at] laravel-enlightn [dot com] and we'll be happy to look into this. Thanks!

[2022-06-01 18:52] Fadelwahed commented on #104
Hey

we have a **PRO** account and we can't use it with laravel 9 can you please give us any details

[2022-06-02 06:30] paras-malhotra commented on #104
@Fadelwahed can you post the error here? I can help you resolve the issue.

[2022-06-02 08:17] potsky commented on #104
The error is that we cannot install enlightnpro via composer because of the dependancy to PHPStan V1 for enlightnpro and PHPStan v2 for Laravel 9...

[2022-06-02 11:49] paras-malhotra commented on #104
@potsky, I am unable to understand the conflict.

- Enlightn Pro has no direct dependency on PHPStan or Larastan - it depends on Enlightn
- Enlightn has dependencies on PHPStan < 1.2 and Larastan ^1.0.0
- Larastan ^1.0.0 supports Laravel ^9.0

That's why I don't see any conflict. Perhaps there are some other dependencies in your project `composer.json` or I may be missing something?

[2022-06-02 12:24] potsky commented on #104
If you use Laravel 9, you must use Larastan 2.x, there are a looooooooot of new tests specific to L9. In the Larastan documentation : _If you are using a Laravel version older than 9.x, please refer to [Larastan v1.x]._

So if you specify `"nunomaduro/larastan": "^2.1",` in you `composer.json`, it will crash. We just would like that enlightn this requirement.

[2022-06-02 12:55] bsaqqa commented on #104
@paras-malhotra

But If we need to use Laravel 9.x without directly using Larastan. So we need to run our Enlightn Pro package on our project now. And may in the future when you upgrade Enlightn to support Larastan 2.1, So we are updating Enlightn Pro to the last version.

Now we need just what is the instructions to run Enlightn Pro on our Laravel "9.13" app.

[2022-06-02 13:04] Fadelwahed commented on #113
But If we need to use Laravel 9. x without directly using Larastan. So we need to run our Enlightn Pro package on our project now. And may in the future, when you upgrade Enlightn to support Larastan 2.1, We are updating Enlightn Pro to the last version.

Now we need just what is the instructions to run Enlightn Pro on our Laravel "9.13" app.

[2022-06-04 12:31] paras-malhotra commented on #104
Sure, I understand. We will be working on supporting Larastan 2.x. In the meantime, if you are using Laravel 9x with Enlightn, please use Larastan 1.x. There will not be any conflict - of course, there will be some missing Larastan features introduced in 2x but the composer install will work.

[2022-06-04 12:32] paras-malhotra commented on #104
@bsaqqa you can refer the installation instructions in our docs [here](https://www.laravel-enlightn.com/docs/getting-started/installation.html)

[2022-06-11 10:45] paras-malhotra commented on #106
Fixed in #115

[2022-06-11 10:45] #106 closed

[2022-06-11 15:22] #104 closed

[2022-06-11 15:38] paras-malhotra commented on #104
Larastan 2.x is now supported in Enlightn v2.0.0 via #117.

We are now working on adding the same support for Enlightn Pro. I'll update this thread once the upgrade is done!

[2022-06-11 16:09] paras-malhotra commented on #110
I looked into this. PHP 8.1 is already supported since `nikic/php-parser` is locked at `^4.0` and PHP 8.1 enum support was added in `4.13.2`. So all it really needs is a `composer update` on your project. Enlightn already supports the PHP 8.1 parser.

[2022-06-11 16:09] #110 closed

[2022-06-11 18:19] paras-malhotra commented on #104
Larastan 2.x is now also supported for Enlightn Pro in v2.0.0! 🎉

[2022-06-12 06:10] potsky commented on #104
Thank you @paras-malhotra, it works and it's good to see this again!

<img width="357" alt="Screenshot 2022-06-12 - 08-09-37@2x" src="https://user-images.githubusercontent.com/408237/173219452-3fd94c3c-05a8-4a02-8944-f45a67d97e05.png">

[2022-06-14 03:48] fylzero commented on #104
@paras-malhotra Still receiving errors when trying to install this package with Larastan 2.x

[code]

[2022-06-14 08:30] potsky commented on #104
You need to "unfix" your larastan version in your `composer.json` like this for example:

[code]

For the moment, enlightn only support `larastan<=2.1.6` so if you have set it to `2.1.11` in your `composer.json`, composer cannot find a suitable version for your requirement and for enlightn.

I have asked to @paras-malhotra in the [PR](https://github.com/enlightn/enlightn/pull/117#issuecomment-1153

[2022-06-14 08:50] paras-malhotra commented on #104
@potsky it isn't compatible with `2.1.11` because of this issue: https://github.com/nunomaduro/larastan/pull/1260#issuecomment-1152944828

The way Larastan is written, we cannot override the Request stub file in 2.1.6+

[2022-06-14 12:02] paras-malhotra commented on #104
Quick update: Larastan 2.x is now fully supported (including the latest version) in Enlightn v2.1.0 via #118

[2022-06-15 15:07] waelsjaber opened #119 "[Bug Report] Cannot install Pro Version 2.0"
### Versions

* PHP version: 8.1.3
* Laravel version:  9.15
* Enlightn version: ^2.1
* Enlightn Pro version (if applicable): ^2.0

### Description
![image](https://user-images.githubusercontent.com/58438216/173860366-ff28f9f4-a86f-43b0-a3d6-420b51db3d90.png)

When I try to install the pro version on my project. I faced the issue like in the above image.

### Steps to Reproduce
Just try to install

[2022-06-15 15:34] paras-malhotra commented on #119
Hi @waelsjaber, our Satis repository seems to have briefly gone offline for a few minutes. Can you retry the install? It should work. Feel free to reply to this thread if you face any issues.

[2022-06-15 15:34] #119 closed

[2022-06-16 00:06] Minhyme opened #120 "[Bug Report] CacheBustingAnalyzer ignores Mix inProduction"
### Versions

* PHP version: 8.1
* Laravel version: 9.11.0
* Enlightn version: 1.25.0
* Enlightn Pro version (if applicable):

### Description

Enlightn\EnlightnPro\Analyzers\Reliability\CacheBustingAnalyzer fails although Laravel docs suggest only versioning in production.

### Steps to Reproduce

Run analyzer in non production environment

**Expected behavior:**

Success

**Actual behavior:**

F

[2022-06-16 07:08] waelsjaber commented on #119
Hi @paras-malhotra, thank you for your reply. I'm still facing this issue since two days ago, and it hasn't been resolved yet. So, Can you please check it from your side?

[2022-06-16 10:20] Fadelwahed commented on #119
Still the issue not resolved

[2022-06-16 10:54] paras-malhotra commented on #119
@waelsjaber I checked and it is working for me/my credentials. If you're facing any issues please email your `auth.json` credentials to support [at] laravel-enlightn [dot com].

[2022-06-16 12:48] paras-malhotra commented on #120
Thanks for reporting this. This is now fixed in Enlightn Pro v1.2.0. This check will be skipped for local environments.

[2022-06-16 12:48] #120 closed

[2022-06-16 13:42] waelsjaber commented on #119
Hi @paras-malhotra ,
We installed the pro version successfully on our project. But when we run the command: `php artisan enlightn --report`, the attached message shows up, please see the screenshot

![enlightn-bug-run2](https://user-images.githubusercontent.com/58438216/174082956-79e5b5b6-215b-4526-a384-3018a2c810e4.png)

[2022-06-16 14:13] waelsjaber opened #123 "[PRO] license issue"
### Versions

* PHP version: 8.1.3
* Laravel version:  9.15
* Enlightn version: ^2.1
* Enlightn Pro version (if applicable): ^2.0

### Description

We purchased the Business & Teams plan, and when we add a new project and choose the license option, there is only none option, and we are also not allowed to add team members
Pictures will be attached via e-mail

![enlightn-bug-account](https://user-i

[2022-06-16 14:29] paras-malhotra commented on #123
@waelsjaber it attaches the license to the first project you have or creates a new project if you don't have one when you purchase the license. You can edit that project (which is assigned the business license) and use that specific key.

Feel free to email support [at] laravel-enlightn [dot com] if you would like any assistance on this.

[2022-06-16 14:29] #123 closed

[2022-06-16 14:37] waelsjaber commented on #123
The License key is just for one project or for multiple projects

Best,

[2022-06-21 09:49] dpash commented on #110
I have v4.14.0 of `nikic/php-parser` installed and I'm still getting errors about lines with enums on

    Check 41/64: Your application does not rely on undefined constants. Failed
    Your application seems to reference undefined constants.
    At app/Http/Controllers/Api/OrdersStatsController.php: line(s): 74, 76, 77, 79, 80, 81, 82, 83, 128, 129, 130 and 143.

I noticed that phpstan also repor

[2022-06-21 09:51] paras-malhotra commented on #110
@dpash Enlightn is no longer restricted to < 1.2. Try running a `composer update`.

[2022-06-21 10:07] dpash commented on #110
It turned out that composer was stuck unable to upgrade enlighten, larastan and phpstan due to being confused about current and new dependencies. After forcing composer to update everything, I can confirm that everything is working correctly. Thanks

[2022-07-12 19:42] LocalHeroPro opened #125 "[Bug Report] composer.json false possitive check"
### Versions

* PHP version: 8.1.8
* Laravel version: 9.19.0
* Enlightn version: 2.1.0
* Enlightn Pro version (if applicable):

### Description
Check say composer.json is bad, but is good.

### Steps to Reproduce
[code]

**Expected behavior:**
Show valid composer.json file if is valid.

**Actual behavior:**
Enlightn showing that composer.json is invalid.

### Additional Information

none.

[2022-07-12 19:53] LocalHeroPro commented on #94
Same here.
I have two connections, short one - 960' - and long one - 18060'. Settings in queue.php file.
And in horizon.php file I have two supervisors specified by connection -short, long - and that supervisors have timeout set one minute less that retry_after in queue.php file.

[2022-07-13 10:17] paras-malhotra commented on #125
I'm unable to replicate this issue on my end. Also, its wierd that `composer validate` returns "is valid". That's exactly what the code checks:

https://github.com/enlightn/enlightn/blob/eb662815dc4aeb042c0af6e54ef99c85fb930a4f/src/Analyzers/Reliability/ComposerValidationAnalyzer.php#L48-L53

The tests are also passing:
https://github.com/enlightn/enlightn/blob/eb662815dc4aeb042c0af6e54ef99c85fb93

[2022-07-13 17:17] LocalHeroPro commented on #125
It's return `./composer.json is valid`. That is all output in new line.

[2022-07-18 18:29] robertmarney opened #127 "[Bug Report]"
### Versions

* PHP version: v8.1
* Laravel version: v9.20
* Enlightn version: v2.1
* Enlightn Pro version (if applicable): v2.2

### Description

When trigger enlightn checks from Windows I am receiving an 'Unable to launch a new process' warning triggered at line 349 of symfony's Process.php

### Steps to Reproduce

Run most checks, including all that use phpstan

php artisan enlightn Enlightn\E

[2022-07-19 07:13] pratikshap31 opened #128 "Horizon uses a separate sub-domain with its own set of cookies to protect against session hijacking"
### Discussed in https://github.com/enlightn/enlightn/discussions/126

<div type='discussions-op-text'>

<sup>Originally posted by **pratikshap31** July 18, 2022</sup>
 I am getting session cookies domain error while running the enlightn package.

 Check 92/126: Horizon uses a separate sub-domain with its own set of cookies to protect against session hijacking. Failed
While Horizon is currently us

[2022-07-19 10:53] paras-malhotra commented on #127
Enlightn is not fully compatible with Windows yet. Can you share the full exception using the `--show-exceptions` flag?

[2022-07-19 10:54] paras-malhotra commented on #125
Yes, the command checks whether `is valid` is in the string returned. So, the code looks fine. If you can pinpoint the exact error, I'll be happy to reopen this but I'm unable to replicate this issue and the code seems to be fine.

[2022-07-19 10:54] #125 closed

[2022-07-19 10:59] paras-malhotra commented on #128
This seems to be an issue specify to your application - I don't think we can pinpoint the exact correction without knowing how your app manages sessions.

Essentially, the idea is that Horizon shouldn't share the same session cookies with your application login, otherwise any attack on the application can escalate to admin interfaces such as Horizon.

[2022-07-19 10:59] #128 closed

[2022-07-19 14:49] paulpreibisch opened #129 "[Bug Report] artisan enlightn:baseline doesnt populate the ignore_errors array with expected values"
### Versions

* PHP version: 8.1
* Laravel version: 9.2
* Enlightn version: 2.1
* Enlightn Pro version (if applicable): 2.1

### Description

When I run

`php -d memory_limit=10G artisan enlightn --ci`

Several analyzers report issues:
+----------------+-------------+-------------+-----------+-----------+
| Status         | Performance | Reliability |  Security |     Total |
+----------------+----

[2022-07-20 09:27] paras-malhotra commented on #129
Which analyzers failed in your first run? Some analyzers are only flagged as `dont_report` if they don't include a line by line code assessment (e.g. the config caching analyzer).

[2022-07-25 05:33] prashantbw opened #132 "Shows composer.json file is invalid though it is valid"
Hi,

* PHP version:7.4.26
* Laravel version:8.83.19
* Enlightn version: 2.1.0
* Enlightn Pro version (if applicable): -

### Description
When I run enlightn, for composer.json check it shows failed.

[code]
If I check it with "composer validate" command it shows composer.json is valid.

Is it false positive or am I missing something?

[2022-07-25 07:10] pratikshap31 commented on #128
@paras-malhotra

we have multiple subdomains. each user has their own subdomain.
I am using session_domain to manage session cookies. The value of the session domain is ".projectame.com".
I am facing a redirect issue when putting a null value for session_domain.

[2022-07-26 10:16] pratikshap31 commented on #128
@paras-malhotra
I have multiple subdomains. each user has their own subdomain. I have the primary subdomain “my”. I am using session_domain to manage session cookies. The value of the session domain is “.projectame.com”. I am facing a redirect issue when putting a null value for session_domain.
when the session domain is null, I am having an issue redirecting from my.projectname.com to username.pr

[2022-07-27 10:04] pratikshap31 opened #133 "Session Hijacking issue"
@paras-malhotra
I am getting session cookies domain error while running the enlighten package.
Check 92/126: Horizon uses a separate sub-domain with its own set of cookies to protect against session hijacking. Failed While Horizon uses a separate domain, your application session cookies are still shared with Horizon. This exposes your application to session hijacking, where if either your main app

[2022-07-28 12:46] ordago commented on #132
[code]

Can you paste the exact output of the validate command?

[2022-07-28 13:00] prashantbw commented on #132
@ordago when you say exact I din't get your question, follwoing is the command I am running and the output what I see
Command
[code]
output
`./composer.json is valid`

[2022-07-28 13:17] ordago commented on #132
https://github.com/enlightn/enlightn/blob/eb662815dc4aeb042c0af6e54ef99c85fb930a4f/src/Analyzers/Reliability/ComposerValidationAnalyzer.php#L50-L51

If you check the code of the validator you can see that it call the command and checks that the 'is valid' string is present.  So it seems it should work.

[2022-07-28 13:27] prashantbw commented on #132
Thanks @ordago looks like it may be  because I don't have global composer.json setup, it may be picking that error? not sure

when I run command

`composer validate -vvv`

I see one line at the end like this

`Failed to initialize global composer: Composer could not find the config file: /Users/mypc/.composer/composer.json`

[2022-07-28 16:04] paulpreibisch commented on #129
Hi, thanks for getting back to us.

Here is a list of exceptions and failures.  Please let me know if there is other information you need

* Check 3/79: Your application uses an efficient rate limiting mechanism for queued jobs. Exception
Class "App\Repositories\BaseRepository" not found

* Check 4/79: Your application uses an efficient throttling mechanism. Failed
Your application uses the "Throt

[2022-08-01 05:05] #132 closed

[2022-08-01 14:13] pratikshap31 commented on #133
@FaycalBorsali
Do you have any idea for the above issue?

[2022-08-01 20:55] paulpreibisch commented on #129
Do you need anything more on my end?

[2022-08-07 21:00] samehdoush opened #134 "[Bug Report] Your requirements could not be resolved to an installable set of packages."
### Versions

* PHP version: 8.1
* Laravel version: 9.23
* Enlightn version:  2.1

### Description
Your requirements could not be resolved to an installable set of packages.
 Problem 1
    - Root composer.json requires enlightn/enlightn ^2.1 -> satisfiable by enlightn/enlightn[v2.1.0, 2.x-dev].
    - enlightn/enlightn[v2.1.0, ..., 2.x-dev] require nunomaduro/larastan ^2.0 -> found nunomaduro/laras

[2022-08-08 11:43] paras-malhotra commented on #134
This doesn't seem to be a bug. `Composer.lock` seems to have locked Larastan to 1.0.3. I guess you need to delete the lock file and try a fresh composer install

[2022-08-08 11:43] #134 closed

[2022-08-16 09:42] #133 closed

[2022-08-16 09:48] paras-malhotra commented on #129
@paulpreibisch the `enlightn:baseline` does not ignore exceptions - those need to be fixed in your application.

For the others, if it's related to a specific line number (in code), it updates the `ignore_errors` config and if it's not related to a specific line in code (e.g. unused global HTTP middleware or throttling), it updates the `dont_report` config instead.

I don't think the behaviour you

[2022-08-16 09:48] #129 closed

[2022-09-30 12:30] tsbrass-webmaster opened #138 "Enlightn Pro Failed to download and Failed to execute clone?"
### Discussed in https://github.com/enlightn/enlightn/discussions/137

<div type='discussions-op-text'>

<sup>Originally posted by **tsbrass-webmaster** September 29, 2022</sup>
I'm following the instruction to install pro and I keep getting the following error:

Failed to download enlightn/enlightnpro from dist: The "https://satis.laravel-enlightn.com/dist/enlightn/enlightnpro/enlightn-enlightnpr

[2022-09-30 15:05] tsbrass-webmaster commented on #138
I was able to get it working by using the main account token vs a team api token

[2022-09-30 15:05] #138 closed

[2022-09-30 15:24] paras-malhotra commented on #138
Please make sure to use an API key for a project that has an attached Pro license. Feel free to email us at support [at] laravel-enlightn [dot com] if you face any issues!

[2022-11-27 05:56] dustingtaylor opened #139 "[Bug Report]"
### Versions

* PHP version: 7.4
* Laravel version: 8.0
* Enlightn version: latest
* Enlightn Pro version (if applicable): 1.0+

### Description

Enlightn bot is no longer making comments on Pull Requests. How can I get it working again for private repositories?

### Steps to Reproduce

**Expected behavior:**

**Actual behavior:**

### Additional Information

Any additional information, configurat

[2022-11-27 05:57] dustingtaylor commented on #139
This is a pro license.